/* COLORS */

$white: #fff;
$black: #000;
$main-color: #333;
$main-color-hover: #757575;

$border-color-button: rgb(179, 179, 179);


/* ============================================================= */
/*typogrfi							 */
/* ============================================================= */

$social-media-icons: LigatureSymbols;
$social-media-icons-size: 100px;

$font-display: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$font-size-big: 50px;

$font-stack-text: 'Oswald', sans-serif;
$font-size-small: 15px;
$reading-text: 19px;

$bold-seven: 700;

$wordspace: 2px;

$heading-size-four: 26px;

/* BLOG POST */


$heading-size: 100px;
$content-size: 20px;

$font-lg: 100px;
$font-md: 90px;
$font-sm: 70px;
$font-xs: 40px;
$font-tags: 12px;

$font-style: normal;